{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}New Episode{% endblock %}

{% block body %}
    <div class="container text-center  mt-3 p-3">
        <h1 class="mb-3">Create new Episode </h1>
        <h2 class="mb-3">{{ season.program.title }} Season {{ season.number }}</h2>

    {{ include('episode/_form.html.twig') }}

    </div>
    <a href="{{ path('episode_index') }}" class="text-success btn btn-warning m-5">back to list</a>

{% endblock %}
