{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Modifier une série{% endblock %}

{% block body %}
    <div class="container text-center  mt-3 p-3">

        <h1>Modifier la série : {{ program.title }}</h1>
        {{ include('program/_form.html.twig', {'button_label': 'Modifier'}) }}

        <div class="d-flex mt-3">
            {{ include('program/_delete_form.html.twig') }}

        </div>
    </div>
    <a href="{{ path('program_index') }}" class="text-success btn btn-warning m-5">Retour à la liste</a>

{% endblock %}
