{% extends 'base.html.twig' %}

{% block title %}Actor index{% endblock %}

{% block body %}
    <h1 class="text-center m-3">Les Acteurs </h1>
<div class="container d-flex flex-column justify-content-center">
    <a href="{{ path('actor_new') }}" class="text-success btn btn-warning mt-3">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for actor in actors %}
            <tr>
                <td>{{ actor.name }}</td>
                <td>
                    <a href="{{ path('actor_show', {'slug': actor.slug}) }}" class="text-success btn btn-warning mt-3">show</a>
                    <a href="{{ path('actor_edit', {'slug': actor.slug}) }}" class="text-success btn btn-warning mt-3" >edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
