/*customize some Bootstrap variables*/
$theme-colors: (
        "primary": #ffe9c5,
        "secondary": #b4f2e1,
        "danger": #eb6383,
        "warning": #fa9191,
        "success":#b4f2e1,
);

$dangerRose: #eb6383;
$blue: #b4f2e1;
$primaryBeige: #ffe9c5;
$warningOrange: #fa9191;

$title-font: 'Lobster', cursive;
$main-font: 'Libre Franklin', sans-serif;